*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
    text-decoration: none;
    cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color3);
  }
}

ol, ul, li {
  list-style: none;
}

body {
  font-family: var(--font1);
  color: var(--color4);

  .container {
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 25px;
  }

  .container__small{
    margin: 0px auto;
    width: 100%;
    max-width: 900px;
    padding: 0 25px;
    }

  }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  font-family: inherit;
  font-size: 21px;
  padding: 17px 34px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  border: 1px solid var(--color2);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color3);
    border: 1px solid var(--color3);
  }
}

.text {
  font-family: var(--font2);
  font-size: 14px;
  letter-spacing: -1.6px;
  color: var(--color5);
  text-transform: uppercase;
  margin: 0 0 19px 0;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.title {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: 400;
  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 32px;
  }
}

.paragraph {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.1px;
}