.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  @media screen and (min-width: 767px) {
    height: 163px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  width: 150px;
}

.header-menu__item {
  &:not(:last-child){
    margin-bottom: 20px;
  }
}

.header-menu__link {
  font-family: var(--font1);
  color: var(--color4);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -1.8px;
  text-transform: uppercase;
}

// Mobile menu

.header-button__menu {
  width: 22px;
  height: 22px;
  padding: 0px;
  border: none;
  background-color: transparent;

  position: relative;
  z-index: 8;
  @media screen and (min-width: 821px) {
    display: none;
  }

  .header-button__menu-close {
    fill: var(--color2);
    display: none;
  }
}

.header-button__menu.is-open .header-button__menu-close {
  display: block;
  fill: var(--color2);
}

.header-button__menu.is-open .header-button__menu-burger {
  display: none;
}

.header-menu {
  @media screen and (min-width: 820px) {
    display: flex;
    gap: 100px;
  }

  @media screen and (max-width: 820px) {
    position: absolute;
    top: 60px;
    left: 0px;
    z-index: 7;

    display: none;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);

    text-align: center;
padding: 30px 20px;
    &.is-open {
      display: block;
    }
  }
}
